@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    padding: 20px ;
    font-size:60px ;
    text-shadow: 0 0  5px rgb(0, 0, 0);
}
body{
    /* background-color: #E0D1C3; */
    /* background-color: #B6DCFE; */
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-align: center;
}
.container{
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main{
   height: 60vmin;
   width: 70vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 13px;
   
}
.btn{
   height: 18vmin;
   width: 18vmin;
   font-size: 9vmin;
   /* background-color: #D9C5B2 ; */
   /* background-color: #B0EAFD; */
   background-color: transparent;
   border: none;
   box-shadow: 0 0 20px black;
   color: rgb(132, 41, 41);
   text-shadow: 0 0  5px rgb(132, 41, 41);
}
.rst-btn{
    height: 60px;
    width: 180px;
    font-size: 28px;
    color: aqua;
    background-color: black;
    border: none;
    box-shadow: 0 0 20px black;
    text-shadow: 0 0 10px aqua ;
    border-radius: 50px;
}

.rst-btn:hover{
    color: rgb(255, 235, 18);
    text-shadow: 0 0 10px rgb(250, 230, 10);
}
.new-btn{
    height: 60px;
    width: 180px;
    font-size: 28px;
    color: aqua;
    background-color: black;
    border: none;
    margin: 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
    text-shadow: 0 0 10px aqua ;
}

.new-btn:hover{
    color: rgb(255, 235, 18);
    text-shadow: 0 0 10px rgb(250, 230, 10);
}

.msg{
    padding: 20px ;
    font-size:60px ;
    text-shadow: 0 0  5px rgb(0, 0, 0);
}
.win-msg{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}